In [1]:
!pip install psycopg2 -q

In [2]:
# this is only for importing datasets ton kaggle

!pip install opendatasets -q

In [3]:
!pip install sqlalchemy -q

In [4]:
import pandas as pd
import psycopg2
import opendatasets as od

In [5]:
from sqlalchemy import create_engine

In [6]:
#creating database

def create_database():
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=Luffy@2025")
    conn.set_session(autocommit = True)
    cur= conn.cursor()
    
    cur.execute("DROP DATABASE stores")
    cur.execute("CREATE DATABASE stores")
    
    cur.close()
    
    conn = psycopg2.connect("host=127.0.0.1 dbname=stores user=postgres password=Luffy@2025")
    cur = conn.cursor()
    
    return cur,conn

In [7]:
# Drop Table

def drop_table(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [8]:
def create_tables(cur,conn):
    for query in create_table_query:
        cur.execute(query)
        conn.commit()

In [9]:
importing datasets from kaggle


od.download("https://www.kaggle.com/datasets/manjeetsingh/retaildataset")

In [10]:
feature_ds = pd.read_csv("Features_data_set.csv")

In [11]:
feature_ds.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [12]:
feature_ds.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [13]:
feature_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [14]:
sales_ds = pd.read_csv("sales_dataset.csv")

In [15]:
sales_ds.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

In [16]:
sales_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [17]:
sales_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [56]:
stores_ds = pd.read_csv("stores_dataset.csv")

In [57]:
stores_ds.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [58]:
stores_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Store   45 non-null     int64
 1   Type    45 non-null     object
 2   Size    45 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

In [21]:
## COnvert object into To Date
feature_ds['Date'] = pd.to_datetime(feature_ds['Date'])
sales_ds['Date'] = pd.to_datetime(sales_ds['Date'])

In [22]:
feature_ds = feature_ds[['Store','Date','Temperature','Fuel_Price','CPI','Unemployment','IsHoliday']]

In [23]:
feature_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   datetime64[ns]
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   CPI           7605 non-null   float64
 5   Unemployment  7605 non-null   float64
 6   IsHoliday     8190 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1)
memory usage: 392.0 KB

In [24]:
sales_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2)
memory usage: 13.3 MB

In [25]:
cur,conn = create_database()

In [26]:
feature_table_create = ("""CREATE TABLE IF NOT EXISTS fk_feature(
store INT,
date DATE,
temperature FLOAT,
fuel_price FLOAT,
cpi FLOAT,
unemployment FLOAT,
is_holiday BOOLEAN
)""")

In [27]:
cur.execute(feature_table_create)
conn.commit()

In [28]:
sales_table_create = ("""CREATE TABLE IF NOT EXISTS fk_sales(
store INT,
dept INT,
date DATE,
weekly_sales FLOAT,
is_holiday BOOLEAN
)""")

In [29]:
cur.execute(sales_table_create)
conn.commit()

In [59]:
stores_table_create = ("""CREATE TABLE IF NOT EXISTS fk_stores(
store INT,
type VARCHAR,
size INT)""")

In [60]:
cur.execute(stores_table_create)
conn.commit()

In [32]:
feature_table_insert = ("""INSERT INTO fk_feature(
store,
date,
temperature,
fuel_price,
cpi,
unemployment,
is_holiday)
VALUES (%s,%s,%s,%s,%s,%s,%s)""")

In [33]:
for i,rows in feature_ds.iterrows():
    #print(list(rows))
    cur.execute(feature_table_insert,list(rows))

In [34]:
conn.commit()

In [35]:
sales_table_insert = ("""INSERT INTO fk_sales(
store,
dept,
date,
weekly_sales,
is_holiday)
VALUES (%s,%s,%s,%s,%s)""")

In [36]:
for i,rows in sales_ds.iterrows():
    #print(list(rows))
    cur.execute(sales_table_insert,list(rows))

In [37]:
conn.commit()

In [61]:
stores_table_insert = ("""INSERT INTO fk_stores(
store,
type,
size)
VALUES (%s,%s,%s)""")

In [64]:
for i,rows in stores_ds.iterrows():
    #print(list(rows))
    cur.execute(stores_table_insert,list(rows))

In [68]:
conn.commit()

In [69]:
sql_engine = create_engine("postgresql:///?user=postgres&;password=Luffy@2025&database=stores&host=127.0.0.1&port=5432")

In [70]:
store_df = pd.read_sql("select * from fk_sales;",sql_engine)

In [71]:
store_df.head()

   store  dept        date  weekly_sales  is_holiday
0      1     1  2010-05-02      24924.50       False
1      1     1  2010-12-02      46039.49        True
2      1     1  2010-02-19      41595.55       False
3      1     1  2010-02-26      19403.54       False
4      1     1  2010-05-03      21827.90       False